/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: #333;
}

/* HEADER */
header {
  background: url("./image/banner8.png") no-repeat center;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  opacity: 1;
  top: 0;
  z-index: 10;
}

nav h1{
    text-align: center; /* alineamos al centro el texto 'AUTOESCUELA AMICAR' DEL BANNER INICIAL */
    color: #c62828;
    font-size: 48px;
}
nav a {/* LE DAMOS CSS A LOS ENLACES DEL BANNER */
  margin-left: 20px;
  text-decoration: none;
  color: #444;
  font-weight: bold;
}

nav a:hover {
    color: #c62828;
    transform: scale(1.1); /* Agrandar ligeramente el botón */
    font-size: 25px;
}











/* ***********************************************HERO  parte media de la pantalla*/
.hero {
  height: 100vh; /* abarca todo el alto de pantalla */
  /*background: url("./image/fotoAutoescuela2.png") no-repeat center center/cover;*/
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  margin-top: 100px;
  margin-left: auto;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  opacity: 0.2;
  background-color:#F5B027 ;
  /*background: rgba(0, 0, 0, 0.5);*/
}

.hero-content {
  position: relative;
  /*color: #fff;*/
  color: black;
  z-index: 1;
  /*max-width: 600px;*/
}

.hero-content h2 {
  font-size: 48px;
  margin-bottom: 20px;
  color: goldenrod;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

.hero-content p {
  font-size: 18px;
  margin-bottom: 30px;
}

/* ************************************************* FIN DEL HERO (parte media de la pantalla debajo del banner )********************/



/* Tabla por defecto (escritorio) */
.hero table {
  width: 100%;
  height: 500px;
  border-collapse: collapse;
  table-layout: fixed;
}

.hero td {
  background-size: cover;
  background-position: center;
  border: 1px solid black; /* para que se vean los cuadros */
  text-align: center;
  vertical-align: middle;
}

/* Responsive para tablet/móvil */
@media (max-width: 1024px) { /* tablet */
  .hero table, .hero tr, .hero td {
    display: block; /* convierte filas y celdas en bloques */
    width: 100%;
    height: 200px; /* ajusta la altura */
  }

  .hero td {
    margin-bottom: 10px; /* espacio entre cuadros */
  }
}

@media (max-width: 768px) { /* móvil */
  .hero td {
    height: 150px; /* altura más pequeña */
  }

  .hero td h1 {
    font-size: 1rem; /* tamaño del texto más pequeño */
  }
}





